
name: task_manager_flutter_complete
description: A Flutter migration of your Task Manager app with CRUD and offline cache
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2

  provider: ^6.0.5
  sqflite: ^2.2.8+4
  path: ^1.8.4
  sqflite_common_ffi: ^2.3.6
  shared_preferences: ^2.1.1
  bcrypt: ^1.1.3



dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^3.0.0


flutter:
  uses-material-design: true
  assets:
    - assets/logo.png
